body{
    background: url("https://img.freepik.com/free-vector/vector-damask-seamless-pattern-background-classical-luxury-old-fashioned-damask-ornament-royal-victorian-seamless-texture-wallpapers-textile-wrapping-exquisite-floral-baroque-template_1217-639.jpg?size=338&ext=jpg")
}
.about_me{
    background-color: white;
    min-height: 500px;
}
.about_me .picture{
    float: left;
    width: 200px;
    height:150px;
    margin-right: 20px;
    
}

.about_me .about{
    color:rgb(68, 211, 163);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divconnect{
    height: 300px;
    background-color: white;
    float: right;

}
.divconnect .connect{
    text-align: center;
    color:rgb(68, 211, 163);
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divconnect  img{
    width: 64px;
    height: 64px;
}
.footer{
    background-color: grey;
    text-align: center;
    margin-top: 30px;
    border-top:5px solid rgb(76, 230, 196);
    height: 80px;
    padding-top: 20px;
    color:white;
}
/*-------------------------------------------*/
.about_me label{
    margin-top: 10px;
    margin-bottom: 10px;
}
.about_me .row img{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 49%;
}
.contact{
    text-align: left;
    color:rgb(68, 211, 163);
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width:992px){
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
    .divconnect{
        margin-top: 20px;
        width: 100%;
    }

}